django==1.11
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
coreapi==2.3.3
oct2py==4.0.6
scipy==1.0.0
numpy==1.14.2
pillow==5.0.0
celery==4.1
redis==2.10.6
django-celery-results==1.0.1
sqlalchemy==1.2.5

# server packages
gunicorn==19.7.0